*{margin: 0; padding: 0;}
#wrap {width: 100%; height: 1500px; color: #fff; font-size: 15px; text-align: center; text-transform: uppercase;}
#header-wrap{width: 100%; background-color: #67615f;}
#nav-wrap{width: 100%; background-color: #a09998;}
#banner-wrap{width: 100%; background-color: #aaa5a2;}
#content-wrap{width: 100%; background-color: #d4cac7;}
#footer-wrap{width: 100%; background-color: #e6dcd3;}

/*자식이 height값을 가지고 있으면 부모의 height 값은 없어도 된다.
 width: 100%는 기본값이기 때문에 없어도 된다 */

.header-container {width:1300px; height: 100px; line-height: 100px; margin: 0 auto; background-color: #8d6e63; }
.nav-container {width:1300px; height: 60px; line-height: 60px;margin: 0 auto; background-color: #a1887f; }
.banner-container {width: 1300px; height: 300px; line-height: 300px; margin: 0 auto; background-color: #bcaaa4;}
.content-container {width: 1300px; height: 800px; line-height: 10px; margin: 0 auto; background-color: #d7ccc8;}
.footer-container{width: 1300px; height: 100px; line-height: 100px; margin: 0 auto; background-color: #c39d91;}
/* 세란 css START */

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

*{margin: 0; padding: 0; font-family: 'Nanum Gothic', sans-serif;}
#wrap {width: 100%; height: 1500px; color: #000000; font-size: 15px; }
#header-wrap{width: 100%; background-color: #67615f; text-align:center;}
#nav-wrap{width: 100%; background-color: #a09998;}
#banner-wrap{width: 100%; background-color: #aaa5a2;}
#content-wrap{width: 100%; height:auto; background-color: #d4cac7;}
#footer-wrap{width: 100%; background-color: #e6dcd3; text-align:center;}
#devBanner{width: 1300px; height: 300px}

#content-wrap>.content-container>div.lessonlist{ width:100%; height:800px;}
/*자식이 height값을 가지고 있으면 부모의 height 값은 없어도 된다.
 width: 100%는 기본값이기 때문에 없어도 된다 */

.header-container {width:1300px; height: 100px; line-height: 100px; margin: 0 auto; background-color: #8d6e63; } 
.nav-container {width:1300px; height: 60px; line-height: 60px;margin: 0 auto; background-color: #a1887f; } 
.banner-container {width: 1300px; height: 300px; line-height: 300px; margin: 0 auto; background-color: #bcaaa4;}
.content-container {width: 1300px; margin: 0 auto; background-color: #bfb5b1;}
.footer-container{width: 1300px; height: 100px; line-height: 100px; margin: 0 auto;  background-color: #c39d91;}

.nav-container>nav{
    width: 600px;
    /* display: inline-block; */
    float: right;
}

.nav-container>nav>ul{
    /* 리스트기능에서 동그라미(왼쪽패딩영역을 가지고있음) */
    list-style-type: none;
    padding-left: 0px;
}

.nav-container>nav>ul>li{
    /* width: 100px; */
    display: inline-block;
    
}

.nav-container>nav>ul>li{
   /* width: 100px; */
    display: inline-block;
    margin-left:15px;
}

.nav-container>nav>ul>li:hover{
    background-color: #2C2A29;
    color: #fff
}
}


.banner-container {position: relative; width: 1300px; height: 300px; margin:0 auto; padding:0; overflow: hidden;}
.banner-container ul {position: absolute; margin: 0px; padding:0; list-style: none; }
.banner-container ul li {float: left; width: 1300px; height: 300px; margin:0; padding:0;}

.main-title{
    font-size: 20px;
    padding-top: 25px;
    padding-bottom: 15px;
    margin-left: 20px;
    font-weight: 800;
}

.lessonlistorigin{
    float:left;
    /* display: inline-block; */
    margin-right: 20px; 
    margin-bottom: 10px;
}

.lessonSeq{
    display: none;
}

.postSeq{
    display: none;
}

#mainLessonImg{
    width: 300px;
    height: 220px;
}

.lessonimg{
    margin-bottom: 10px;
}

.lessonlist{
    margin-left: 20px;
    margin-top: 20px;
}

#mainCommunityImg{
    width:220px;
    height:100px;
    float: right;
}

#content-wrap>.content-container>div.lessonlist {
    width: 100%;
    height: 300px;
}

.communityList{
    margin-left: 20px;
}

.postContent{
    width:600px; 
    overflow:hidden; 
    text-overflow:ellipsis;
    white-space:nowrap;
    display:inline-block;
}

.postTitle{
    width:600px; 
    overflow:hidden; 
    text-overflow:ellipsis;
    white-space:nowrap;
    display:inline-block;
    font-size: 20px;
    font-weight:800;
    margin-top:10px;
    margin-bottom: 2px;
}

.mainCommunityLine {
    border-top:1px solid #e9ddbc;
    margin-top: 10px;
    margin-bottom: 15px;
    
}

.communityListOrigin{
    width: 600px;
    display: inline-block;
    margin-right: 15px;
    margin-left: 12px;
    margin-bottom: 25px;
    font-size: 13pt;
    line-height: 25px;
}

.postRecommend{
    margin-left: 240px;
}

.postCnt{
    margin-left: 20px;
}

.lessonName{
    font-weight: 800;
    width:300px; 
    overflow:hidden; 
    text-overflow:ellipsis;
    white-space:nowrap;
    display:inline-block;
    font-size: 18px;
    margin-top: 10px;
}

.lessonPrice{
    font-weight: 700;
    font-size: 18px;
    margin-top: 2px;
}

/* 세란 css END */
