<?xml version="1.0" encoding="UTF-8"?>
<!-- mybatis 환경설정, DB를 편하게 쓰려고 -->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
      	<setting name="mapUnderscoreToCamelCase" value="true"/>
   		<setting name="jdbcTypeForNull" value="NULL" />
   </settings>
	<environments default="mybatis_test">
		<environment id="mybatis_test">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED"><!-- connection pool의 일종 -->
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@localhost:1521/xe" />
				<property name="username" value="dev" />
				<property name="password" value="dev" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
 		<mapper resource="com/developer/users/users.xml"></mapper>
 		<mapper resource="com/developer/roominfo/room_info.xml"></mapper>
 </mappers>

</configuration>