<?xml version="1.0" encoding="UTF-8"?>
<!-- mybatis 환경설정, DB를 편하게 쓰려고 -->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
      	<setting name="mapUnderscoreToCamelCase" value="true"/>
   		<setting name="jdbcTypeForNull" value="NULL" />
   </settings>
   
   <typeAliases>
 		<typeAlias type="com.developer.appliedlesson.AppliedLessonVO" alias="AppliedLessonVO"/>
		<!-- <typeAlias type="com.developer.board.BoardVO" alias="BoardVO"/> -->
		<!-- <typeAlias type="com.developer.boardrep.BoardRepVO" alias="BoardRepVO"/> -->
		<typeAlias type="com.developer.favoriteslesson.FavoritesLessonVO" alias="FavoritesLessonVO"/>
		<!-- <typeAlias type="com.developer.favoritesstudyroom.FavoritesStudyroomVO" alias="FavoritesStudyroomVO"/> -->
		<!-- <typeAlias type="com.developer.hostuser.HostUserVO" alias="HostUserVO"/> -->
		<typeAlias type="com.developer.lesson.LessonVO" alias="LessonVO"/>
		<typeAlias type="com.developer.lessonreview.LessonReviewVO" alias="LessonReviewVO"/>
		<!-- <typeAlias type="com.developer.recommend.RecommendVO" alias="RecommendVO"/> -->
		<!-- <typeAlias type="com.developer.reservation.ReservationVO" alias="ReservationVO"/> -->
		<!-- <typeAlias type="com.developer.roominfo.RoomInfoVO" alias="RoomInfoVO"/> -->
		<!-- <typeAlias type="com.developer.roomreview.RoomReviewVO" alias="RoomReviewVO"/> -->
		<!-- <typeAlias type="com.developer.studyroom.StudyroomVO" alias="StudyRoomVO"/> -->
		<typeAlias type="com.developer.tutor.TutorVO" alias="TutorVO"/>
 		<typeAlias type="com.developer.userreview.UserReviewVO" alias="UserReviewVO"/>
		<typeAlias type="com.developer.users.UsersVO" alias="UsersVO"/> 
	</typeAliases>
	
	<environments default="mybatis_test">
		<environment id="mybatis_test">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED"><!-- connection pool의 일종 -->
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@tlaqerkcca7j08fz_high?TNS_ADMIN=/Users/moonone/Wallet_TLAQERKCCA7J08FZ" />
				<property name="username" value="admin" />
				<property name="password" value="Koo04071104@" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="com/developer/appliedlesson/applied_lesson.xml"></mapper> 
 		<!-- <mapper resource="com/developer/board/board.xml"></mapper> -->
 		<!-- <mapper resource="com/developer/boardrep/board_rep.xml"></mapper> -->
 		<mapper resource="com/developer/favoriteslesson/favorites_lesson.xml"></mapper>
 		<!-- <mapper resource="com/developer/favoritesstudyroom/favorites_studyroom.xml"></mapper> -->
 		<!-- <mapper resource="com/developer/hostuser/host_user.xml"></mapper> --> 
 		<mapper resource="com/developer/lesson/lesson.xml"></mapper>
 		<mapper resource="com/developer/lessonreview/lesson_review.xml"></mapper>
 		<!-- <mapper resource="com/developer/recommend/recommend.xml"></mapper> -->
 		<!-- <mapper resource="com/developer/reservation/reservation.xml"></mapper> -->
 		<!-- <mapper resource="com/developer/roominfo/room_info.xml"></mapper> -->
 		<!-- <mapper resource="com/developer/roomreview/room_review.xml"></mapper> -->
 		<!-- <mapper resource="com/developer/studyroom/studyroom.xml"></mapper> -->
 		<!-- <mapper resource="com/developer/tutor/tutor.xml"></mapper> -->
		<!--<mapper resource="com/developer/userreview/user_review.xml"></mapper> -->
 		<!-- <mapper resource="com/developer/users/users.xml"></mapper> -->
 	</mappers>

</configuration>